@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Limelight&display=swap');


body {
  
  font-family: "Lateef",serif;
  font-weight: 700;
  background-color: #111;
  color: #fff;
  scroll-behavior: smooth;
}

.links-container {
    display: block;  /* هذا يجعل العناصر داخلها تظهر تحت بعضها البعض */
    margin-top: 100px;

}

/* From Uiverse.io by gharsh11032000 */ 
.link1 {
  position: relative;
  width: 270px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none; 
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  font-family: "Lateef" serif;
  font-size: 24px;
  direction: rtl;
  flex-direction: row-reverse;
}

.link1::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #555555 0%, #ffffff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link1::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #555555 0%, #ffffff 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.link1:hover::after {
  filter: blur(30px);
}

.link1:hover::before {
  transform: rotate(-180deg);
}

.link1:active::before {
  scale: 0.7;
}

.link1 .icon {

   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;

}
