@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&family=Limelight&display=swap');


body {
  
  font-family: "Lateef",serif;
  font-weight: 700;
  background-color: #111;
  color: #fff;
  scroll-behavior: smooth;
}

.links-container {
    display: block;  /* هذا يجعل العناصر داخلها تظهر تحت بعضها البعض */
    margin-top: 100px;

}

.link {
    display: block; /* يجعل كل رابط يظهر في سطر منفصل */
    margin-bottom: 20px;  /* إضافة مسافة بين الروابط (اختياري) */
    color: blue;   /* تغيير اللون إلى الأزرق مثلاً */
    text-decoration: none;  /* إزالة الخط السفلي من الروابط */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid #3b3b3b;
  font-size: 30px;
}
